

.heading {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.content {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.col-lg-4 {
    width: 25%;
    margin: 2.5%;
    border: 2px solid;
    float: left;
    background-color: #999999;
}

.description {
    text-align: justify;
    padding: 2%;
    font-family: monospace;
    font-size: 15px;
}


.section {
    text-align: center;
    width: 25%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: auto;
    margin-right: 0;
    padding: 1%;
    border-bottom: 2px solid  black;
    border-left: 2px solid black;
}

#chicken{
    background-color: #D59898;
}

#beef{
    background-color: #C14443;
    color: white;
}

#sushi{
    background-color: #E5D198;
}
@media(min-width: 769px) and (max-width: 1281px) {
    .col-md-6 {
        width: 35%;

    }
    .col-md-12 {
        width: 76%;

    }
}

@media(max-width: 769px) {
    .col-sm-12{
        width: 90%;
    }
}
